@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

ol.table-of-contents {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;
}

ol.table-of-contents li {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.heading-permalink {
    color: #bdc7d0 !important;
    opacity: 0.5;
    margin-right: 10px;
    text-decoration: none !important;
}
