@import '/vendor/filament/filament/resources/css/theme.css';
@import '/vendor/awcodes/filament-tiptap-editor/resources/css/plugin.css';

ol.table-of-contents {
    margin-left: 0;
    padding-left: 0;
    list-style-position: inside;

    @apply rounded-md bg-gray-800 px-6 py-4;
}

ol.table-of-contents li {
    padding-left: 0;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.heading-permalink {
    color: #bdc7d0 !important;
    opacity: 0.5;
    margin-right: 10px;
    text-decoration: none !important;
}